@use 'src/styles/vars';

.header {
  .header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-nav--items{
      display: flex;
      justify-content: space-around;
      background-color: rgba(0,0,0,0.8);
      border-radius: 20px;
      .header-nav--item {
        color: vars.$LLight;
        padding: 1.3em;
        &:nth-child(2) {
          border-left: 1px solid vars.$LLight;
          border-right: 1px solid vars.$LLight;
        }
      }
    }
    .header-nav--logo {
      .logo {
        width: 5em;
        height: 4em;
        margin: 1em;
      }
    }
  }
}
