{% extends 'base.html.twig' %}

{% block title %}BackOffice - Modifier un Evenement Foodtruck
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Modifier un Evenement EventFoodtruck</h1>

		{{ include('back_office/event_foodtruck/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('back_office_event_foodtruck_index') }}"><i class="fas fa-undo-alt"></i></a>

		{{ include('back_office/event_foodtruck/_delete_form.html.twig') }}
	</div>
{% endblock %}
