{% extends 'base.html.twig' %}

{% block title %}New EventFoodtruck{% endblock %}

{% block body %}
    <h1>Create new EventFoodtruck</h1>

    {{ include('back_office_event_foodtruck/_form.html.twig') }}

    <a href="{{ path('back_office_event_foodtruck_index') }}">back to list</a>
{% endblock %}
