@use 'src/styles/vars';

.footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding: vars.$gutter;
  background-color: vars.$LMidDark;
  color: vars.$LLight;
  box-shadow: 1px -11px 15px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px -11px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px -11px 15px -5px rgba(0,0,0,0.75);

  .footer-left {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-copyright {
    display: flex;
    align-items: flex-end;
    bottom: 0;
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}
