{% extends 'base.html.twig' %}

{% block title %}API - HungryTruck{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    
            <div class="col">
                    API - HungryTruck 
            </div>

    </div>

</div>
{% endblock %}
