{% extends 'base.html.twig' %}

{% block title %}API - HungryTruck{% endblock %}

{% block body %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="mt-auto mb-auto">
				<p class="text-center text-dark font-weight-bold">API - HungryTruck</p>
		</div>
	</div>
</div>
{% endblock %}
