@use 'src/styles/vars';

@keyframes totalRotate {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg);
  }
  

  50% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform:  rotateY(180deg);
  }

 

  to {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg);
  }
}

@keyframes loadMenu {
  from {
    width: 0;
    font-size: 0;
  }

  to {
    width: 10%;
    font-size: 1rem;
  }
}

.user {
  margin: vars.$gutter;
  .image-user {
    width: 6.25rem;
    height: 6.25rem;
    box-shadow: 0px -1px 55px 60px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px -1px 55px 60px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px -1px 55px 60px rgba(0,0,0,0.69);
    clip-path: circle(50.0% at 50% 50%);
    cursor: pointer;

    &:hover {
      animation: totalRotate 1s;
    }
  }
  .ul-user{
    z-index: 5;
    position: fixed;
    display: flex;
    margin-right: 1rem;
    flex-direction: column;
    animation: loadMenu 0.5s;
    width: 10%;

    top: vars.$gutter * 9;
    right: vars.$gutter;
    .li-user {
      background-color: vars.$DarkOpacity;
      color: vars.$LLight;
      padding: vars.$gutter;
      text-align: center;
      &:first-child {
        border-top-left-radius: vars.$BorderRadius;
        border-top-right-radius: vars.$BorderRadius;
      }
      &:not(:last-child) {
        border-bottom: 1px solid vars.$LLight;
      }
      &:last-child {
        border-bottom-left-radius: vars.$BorderRadius;
        border-bottom-right-radius: vars.$BorderRadius;
      }
      &:hover {
        color: vars.$LDark;
        background-color: rgba(vars.$LLight,0.7);
      }
    }
  }
}

@media (max-width: 770px) {
  .image-user {
    width: 3.75rem !important;
    height: 3.75rem !important;
  }
}
