{% extends 'base.html.twig' %}

{% block title %}BackOffice - Crée un nouveau Foodtruck
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Crée un nouveau Foodtruck</h1>

		{{ include('back_office/foodtruck/_form.html.twig') }}

		<a href="{{ path('back_office_foodtruck_index') }}">
			<i class="fas fa-undo-alt"></i>
		</a>
	</div>
{% endblock %}
