@use 'src/styles/vars';

.newaccount {
  width: 70vw;
  max-height: 100vh;
  min-height: 90vh;
  margin: auto;
  margin-top: -6rem;

  .newaccount-title {
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: 0 auto -1.5rem 20rem;
    font-family: vars.$Krub;
  }

  .newaccount-form {
    background-color: vars.$DarkOpacity;
    margin-bottom: 2rem;
    padding: vars.$gutter * 2 vars.$gutter * 2 vars.$gutter * 2 0;
    display: flex;
    flex-direction: row;

    .form-left {
      display: flex;
      flex-direction: column;
      margin: -4rem 2rem 0 -2rem;
      height: 100%;

      .avatar {
        background-color: rgba(150, 150, 150, 0.7);
        border-radius: 25px 25px 0 0;
        height: 20rem;
        width: 15rem;

      }

      .form-label--avatar {
        display: flex;
        flex-direction: column;
        width: 15rem;
        padding: vars.$gutter;
        color: vars.$LDark;
        background-color: vars.$Yellow;
        border-radius: 0 0 25px 25px;


        .avatar-input {
          margin-top: 0.5rem;
          background-color: vars.$LLight;
          border: 4px solid vars.$LDark;
          padding: 0.5rem vars.$gutter;
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 25px;
          box-shadow: 0px 0px 100px -4px rgba(0, 0, 0, 0.75) encart;
          -webkit-box-shadow: 0px 1px 100px -4px rgba(0, 0, 0, 0.75) encart;
          -moz-box-shadow: 0px 1px 100px -4px rgba(0, 0, 0, 0.75) encart;

          &:focus {
            box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
          }
        }
      }
    }

    .form-right {
      display: flex;
      flex-direction: column;
      padding-top: 0;

      h2 {
        margin: vars.$gutter;
        font-weight: bold;
        font-family: vars.$Krub;
      }

      .show-error {
        .show-error--text {
          border-radius: 25px;
          border: 4px solid #e61212;
          margin: 1rem;
          padding: 1rem;
        }
      }

      .field-label-pro {
        display: flex;
        margin: vars.$gutter;
        font-style: italic;
        align-items: center;

        .switch {
          position: relative;
          display: inline-block;
          margin: 0 1rem;
          width: 60px;
          height: 34px;

          input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider {
              background-color: #e69512;
            }

            &:checked+.slider::before {
              transform: translateX(26px);
              animation: toggleTurnOff 1s;
            }
          }

          .slider {
            position: absolute;
            cursor: pointer;

            top: 0px;
            left: 0px;
            right: -11px;
            bottom: 0px;

            border: 4px solid #e69512;
            background-color: none;

            &::before {
              position: absolute;
              content: "";
              height: 29px;
              width: 29px;
              left: 0px;
              bottom: 0px;
              background-color: rgba(255, 255, 255, 0.8);
              transition: 0.4s;
            }

            &.rounded {
              border-radius: 25px;
            }

            &.rounded::before {
              border-radius: 50%;
            }
          }

        }

        span {
          color: #e69512;
          margin: -0.2rem auto auto 0.4rem;
          font-weight: bold;
          font-size: 1.5rem;
        }
      }

      .fields-legend {
        font-style: italic;
        color: #e69512;
        font-size: 0.7rem;
        margin: -0.7rem vars.$gutter;
      }

      .all-fields {
        display: flex;

        .fields {
          display: flex;

          .map-label {
            margin-bottom: 1rem;
          }

          .fields-left {
            padding: vars.$gutter;
            border-right: 2px solid vars.$DMidDark;
            padding-left: 0;
            padding-right: 2rem;
            padding-bottom: 0;
            width: max-content;
          }

          .fields-right {
            padding: vars.$gutter;

            .field {
              margin-top: -3rem;

            }
          }

          .field-label {
            display: flex;
            flex-direction: column;
            margin: vars.$gutter;
            font-style: italic;
            // font-size: 0.9rem;

            span {
              color: #e69512;
              margin: -0.2rem auto auto 0.4rem;
              font-weight: bold;
              font-size: 1.5rem;
            }

            .field-input {
              margin-top: 0.5rem;
              padding: 0.5rem vars.$gutter;

              background-color: rgba(255, 255, 255, 0.8);
              border-radius: 25px;
              border: 4px solid #e69512;

              &:focus {
                box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
              }
            }
          }
        }

        .fields-food {
          width: 25rem;

          .field-check {
            display: flex;
            flex-wrap: wrap;


            .field-label {
              display: flex;
              width: 8rem;
              text-align: center;

            }
          }
        }


      }
    }
  }
}

.newAccount-button {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: -6rem;

  .submit-form--account {
    
    padding: 0.5rem;
    border: #095228 solid 4px;
    border-radius: 25px;
    background-color: transparent;
    color: vars.$LLight;
    font-size: 1rem;
    width: 20rem;
    box-sizing: border-box;

    &:hover {
      background-color: #095228;
      color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.85) inset;
      -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.85) inset;
      -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.85) inset;
      border: #095228 4px solid;
    }
  }
  .login-backToHome {
    
    padding: 0.5rem;
    border: #e69512 solid 4px;
    border-radius: 25px;
    background-color: transparent;
    color: vars.$LLight;
    font-size: 1rem;
    width: 20rem;
    box-sizing: border-box;

    &:hover {
      background-color: #e69512;
      color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.85) inset;
      -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.85) inset;
      -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.85) inset;
      border: #e69512 4px solid;
    }
  }
}


.loaderEdit {
  margin: 0 35%;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 1rem auto auto;
  width: 60px;
  height: 34px;


  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked+.slider {
      background-color: #e69512;
    }

    &:checked+.slider::before {
      transform: translateX(26px);
      animation: toggleTurnOff 1s;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;

    top: 0px;
    left: 0px;
    right: -11px;
    bottom: 0px;

    border: 4px solid #e69512;
    background-color: none;

    &::before {
      position: absolute;
      content: "";
      height: 29px;
      width: 29px;
      left: 0px;
      bottom: 0px;
      background-color: rgba(255, 255, 255, 0.8);
      transition: 0.4s;
    }

    &.rounded {
      border-radius: 25px;
    }

    &.rounded::before {
      border-radius: 50%;
    }
  }

}

@media (min-width: 300px) and (max-width: 1900px) {
  .newaccount {
    min-height: 230vh;
    max-height: 290vh;
    

    .newaccount-title {
      margin: auto auto 1rem;
      text-align: center;
    }

    .newaccount-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-left {
        margin: auto;

        .avatar {
          margin: auto;
        }
      }

      .form-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        width: 100%;
        
        .newAccount-button {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .button-Link {
            margin-top: 1rem;
          }
        }

        .all-fields {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;

          .fields {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;

            .fields-left,
            .fields-food {
              border: vars.$Yellow solid 2px;
              border-radius: 25px;
              padding: 0.5rem;
              margin: 2rem auto 1rem;
              width: 100%;

              .field {
                width: 100%;
                margin: 1rem;

                .map-label {
                  margin-top: 1rem;
                  padding: 1rem;
                }

                .field-label {
                  width: 100%;

                  .field-input {
                    align-self: center;
                    width: 90%;
                    margin: 0.5rem auto;
                  }
                }
              }
            }

            .fields-food {
              h2 {
                text-align: center;

                .field-check {
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .newaccount {
    margin: auto;
    margin-top: -5rem;
    // margin-bottom: 5rem;
    min-height: 150vh;
    max-height: 380vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .newaccount-title {
      font-size: 1.5rem;
    }

    .newaccount-form {
      padding-right: 0;
      margin-bottom: 5rem;

      .form-left {
        display: flex;
        justify-content: center;
      }

      .form-right {
        .newAccount-button {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .button-Link {
            margin-top: 1rem;
          }
        }
        .all-fields {
          .fields {

            .fields-food,
            .fields-left {
              border: transparent 1px solid;
            }

            .fields-left {
              .field {
                width: 90%;
              }
            }

            .fields-right {
              width: 100%;
              margin-top: 1rem;
              padding: 0;

              .field {
                width: 100%;
                margin-left: -1rem;

                .map-label {
                  margin: 0;
                }

              }
            }

            .fields-food {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
