@use 'src/styles/vars';

html {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #e69512;
    border: 0px none transparent;
    border-radius: 100px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #f6bd60;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #f6d6a3;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.7);
    border: 0px none transparent;
  }
  &::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,0.7);
  }
  &::-webkit-scrollbar-track:active {
    background: rgba(0,0,0,0.7);
  }
  &::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0.7);
  }
}
.hungrytruck {
  max-width: 100vw;
  min-height: 100vh;
  background-color: vars.$DarkOpacity;
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: vars.$LLight;
  font-family: Quicksand;

  .input-yellow {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border: 4px solid #e69512;
  }

  .myFoodTruck-array {
    border: vars.$Yellow solid 2px;
    border-radius: 25px;
    width: 80%;
    height: auto;
    margin:  0.5rem auto;

    table {
      margin: 1rem auto 1rem;
      padding: 1rem;
      width: 90%;
      height: 10rem;

      thead,
      tbody {
        width: 100%;
        height: 2rem;
        border-bottom: vars.$Yellow solid 1px;


        th {
          text-align: center;
          vertical-align: middle;
          font-weight: bold;
        }

        td {
          text-align: center;
          vertical-align: middle;

        }

        &:last-child {
          border: none;
        }
      }
    }
  }

}

.popup-content {
  margin: auto;
  background: none;
  border: none;
  width: auto;
  padding: 5px;
}
.popup-arrow {
  background: rgba(0, 0, 0, 0.9);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px;
  background-color: rgba(0, 0, 0, 0.9);

  .viewslots-section {
    background-color: red;
  }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.loader {
  position: absolute;
  z-index: 10;
  margin: auto;
  top:0;
}

input {
  &::placeholder {
    font-style: italic;
  }
}


@keyframes toggleTurnOff {
  from {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform:  rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform:  rotateY(0deg) translateX(26px);
  }
}
