@use 'src/styles/vars';

.hungrytruck {
  width: 100vw;
  min-height: 100vh;
  background-color: vars.$DarkOpacity;
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: vars.$LLight;
  font-family: Quicksand;

  // overflow: visible;


  .input-yellow {
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    border: 4px solid #e69512;
  }

  .myFoodTruck-array {
    border: vars.$Yellow solid 2px;
    border-radius: 25px;
    width: 80%;
    height: auto;
    margin:  0.5rem auto;

    table {
      margin: 1rem auto 1rem;
      padding: 1rem;
      width: 90%;
      height: 10rem;

      thead,
      tbody {
        width: 100%;
        height: 2rem;
        border-bottom: vars.$Yellow solid 1px;


        th {
          text-align: center;
          vertical-align: middle;
          font-weight: bold;
        }

        td {
          text-align: center;
          vertical-align: middle;

        }

        &:last-child {
          border: none;
        }
      }
    }
  }

}

.popup-content {
  margin: auto;
  background: none;
  border: none;
  width: auto;
  padding: 5px;
}
.popup-arrow {
  background: rgba(0, 0, 0, 0.9);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 3px;
  background-color: rgba(0, 0, 0, 0.9);

  .viewslots-section {
    background-color: red;
  }
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
