{% extends 'base.html.twig' %}

{% block title %}BackOffice - Modifier une Questions{% endblock %}

{% block body %}
<div class="container">
    <h1>Modifier une Questions</h1>

    {{ include('back_office/faq/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_office_faq_index') }}"><i class="fas fa-undo-alt"></i></a>

    {{ include('back_office/faq/_delete_form.html.twig') }}
</div>
{% endblock %}
