@use 'src/styles/vars';

#sectionAccount {
  margin: auto auto;
  position: relative;
  max-width: auto;
  min-height: auto;

  #myAccount {
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: -4.4rem auto -1.5rem 30rem;
    position: absolute;
    font-family: vars.$Krub;
    font-variant-caps: small-caps;
  }
    #myaccount-picture {
      max-width: 15rem;
      min-height: 20rem;
      max-height: 20rem;
      margin-left: 9rem;
      margin-top: -4rem;
      border-radius: 25px;
      background-color: rgba(150, 150, 150, 0.7);
    }
    #account {
      background-color: vars.$DarkOpacity;
      padding: 2rem;
      width: 70vw;
      height: 60vh;
      margin: -18rem auto auto;

      .account-informations {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        margin: auto auto 2rem 10rem;
        font-size: 1.8rem;

        .informations-left {
          border-right: vars.$Yellow solid 1px;
          padding-right: 1rem;
          width: 60%;

          p {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
          }
        }
        .informations-right {
          margin-left: 1rem;
          p {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5rem;
          }

          #info-right--foodlist {
            margin-bottom: 0;
          }

          ul {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
          }
        }
      }

      .account-button {
        display: flex;
        justify-content: space-around;

        .button-Link {

          .button-linkto {
            margin: 1rem vars.$gutter 0.5rem;
            padding: 0.5rem;
            border: #e69512 solid 4px;
            border-radius: 25px;
            background-color: transparent;
            color: vars.$LLight;
            font-size: 1rem;
            width: 15rem;
            box-sizing: border-box;
      
            &:hover {
              background-color: #e69512;
              color: rgba(255, 255, 255, 0.8);
              box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
              -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
              -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
              border: #e69512 4px solid;
            }
          }
          .button-del {
            margin: 1rem vars.$gutter 0.5rem;
            padding: 0.5rem;
            border: #e61212 solid 4px;
            border-radius: 25px;
            background-color: transparent;
            color: vars.$LLight;
            font-size: 1rem;
            width: 15rem;
            box-sizing: border-box;

            &:hover {
              background-color: #e61212;
              color: rgba(255, 255, 255, 0.8);
              box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
              -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
              -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
              border: #e61212 4px solid;
            }
          }
        }
      }
    }
}
.deleteaccount-section {
  background-color: vars.$DarkOpacity;
  padding: vars.$gutter;
  width: 50vw;
  height: 50vh;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  p {
    font-size: 1.3rem;
    margin: vars.$gutter;
    color: vars.$LLight;
  }
  .deleteaccount-title {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: 2rem auto 2rem auto;
    font-family: vars.$Krub;
    color: vars.$LLight;

  }

  #delAccount-text {
    text-align: center;
  }
  
  .deleteaccount-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .deleteaccount-label {
      display: flex;
      justify-content: center;
      align-items: center;
      .deleteaccount-input {
        margin: 0.33rem;
        padding: 0.5rem;
        padding-left: 2rem;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        border: 4px solid #e69512;
      }
    }
    .deleteaccount-form--submit {
      margin: 1rem vars.$gutter 0.5rem;
      padding: 0.5rem;
      border: #e61212 solid 4px;
      border-radius: 25px;
      background-color: transparent;
      color: vars.$LLight;
      font-size: 1rem;
      width: 20rem;
      box-sizing: border-box;

      &:hover {
        background-color: #e61212;
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
        -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
        -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
        border: #e61212 4px solid;
      }
    }
  }
  .deleteaccount-cancel {
    margin: 1rem vars.$gutter 0.5rem;
    padding: 0.5rem;
    border: #e69512 solid 4px;
    border-radius: 25px;
    background-color: transparent;
    color: vars.$LLight;
    font-size: 1rem;
    width: 20rem;
    box-sizing: border-box;

    &:hover {
      background-color: #e69512;
      color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
      -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
      -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
      border: #e69512 4px solid;
    }
  }
}
span{
  color: #e69512;
  font-style: italic;
  font-weight: bold;
}


@media (min-width: 100px) and (max-width: 1521px) {
  #sectionAccount {
    background-color: vars.$DarkOpacity;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 120vh;
    max-height: 350vh;
    padding-bottom: 22rem;

    #myAccount {
      position: relative;
      margin: auto;
      margin-top: -2.3rem;
    }

    #myaccount-picture {
      position: relative;
      margin: 1rem auto;
    }

    #account {
      background-color: transparent;
      position: relative;
      margin: 1rem auto;
      min-height: 60vh;
      text-align: center;

      .account-informations {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        text-align: center;

        .informations-left {
          border: none;
          width: 100%;
          position: relative;
        }

        .informations-right {
          width: 100%;
          position: relative;

          ul>li {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            span {
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      .account-button {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        bottom: 0;
        margin-top: 8rem;
      }
    }
  }
}

@media (min-width: 100px) and (max-width: 400px) {
  #sectionAccount {
    min-height: 160vh;
    
    #account {
      min-height: 100vh;
      width: 100%;
      margin: 0;
      padding: auto 1rem;
    }
    .account-button {
      margin-top: 14rem;
    }

    .ReactModal__Content {
      padding: 0;
    }
    .deleteaccount-section {
      margin: auto;
    }
  }
}
