<form method="post" action="{{ path('back_office_category_food_delete', {'id': category_food.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_food.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
