{% extends 'base.html.twig' %}

{% block title %}Edit CategoryFood{% endblock %}

{% block body %}
    <h1>Edit CategoryFood</h1>

    {{ include('back_office_category_food/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_office_category_food_index') }}">back to list</a>

    {{ include('back_office_category_food/_delete_form.html.twig') }}
{% endblock %}
