{% extends 'base.html.twig' %}

{% block title %}BackOffice - Modifier une Categories de nourritures{% endblock %}

{% block body %}
    <h1>Modifier une Categories de nourritures</h1>

    {{ include('back_office/category_food/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('back_office_category_food_index') }}"><i class="fas fa-undo-alt"></i></a>

    {{ include('back_office/category_food/_delete_form.html.twig') }}
{% endblock %}
