@use 'src/styles/vars';

.addslot-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  background-color: vars.$DarkOpacity;
  padding: vars.$gutter;
  margin: auto;

  .addslot-title {
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: -3rem auto 1rem 2rem;
    font-family: vars.$Krub;
  }

  .addslot-fields--legend {
    font-style: italic;
    color: #e69512;
    font-size: 0.7rem;
  }

  .addslot-form {
    display: flex;
    flex-direction: column;

    .addslot-label {
      margin: vars.$gutter / 2;
      font-style: italic;
      .addslot-input {
        margin: vars.$gutter / 3;
        padding: vars.$gutter / 2;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        border: 4px solid #e69512;
        option {
          padding: vars.$gutter / 2;
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 25px;
          border: 4px solid #e69512;
        }
      }
      span {
        color: #e69512;
        margin: -0.2rem auto auto 0.4rem;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .addslot-form--footer {
    
      .addslot-button--quit {
        padding: vars.$gutter / 2;
        border: #e69512 solid 4px;
        border-radius: 25px;
        background-color: transparent;
        color: vars.$LLight;
        font-size: 1rem;
        margin-top: -2.5rem;

        &:hover {
          background-color: #e69512;
          color: vars.$DarkOpacity;
        }
      }

      .addslot-button--submit {
        padding: vars.$gutter / 2;
        border: #e69512 solid 4px;
        border-radius: 25px;
        background-color: #e69512;
        color: vars.$DarkOpacity;
        font-size: 1rem;
        margin: vars.$gutter;

        &:hover {
          background-color: transparent;
          color: vars.$LLight;
        }
      }
    }
  }
}
