{% extends 'base.html.twig' %}

{% block title %}BackOffice - Accueil{% endblock %}

{% block body %}


<div class="container">
    <h1>Hello ! ✅</h1>

        <p>T'es connecter bg !</p>
</div>
{% endblock %}
