@use 'src/styles/vars';

.section-newFoodTruck {
  margin: 2rem;
  margin-top: 0;

  .newFoodTruck-title {
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: -4rem auto -1.5rem 30rem;
  }

  .newFoodTruck-picture {
    margin-left: 9rem;
    margin-top: -4rem;
    border-radius: 25px;
    min-width: 15rem;
    max-width: 16rem;
    min-height: 20rem;
    max-height: 21rem;
    background-color: rgba(150, 150, 150, 0.7);
  }

  .newFoodTruck {
    background-color: vars.$DarkOpacity;
    padding: 2rem;
    width: 70vw;
    height: auto;
    margin: -16rem auto auto 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;
      font-size: 1.3rem;

      .input-yellow {
        width: 30rem;
        padding-left: 2rem;

        &:focus {
          box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
        }

        &::placeholder {
          font-style: italic;
        }
      }
    }

    h3 {
      font-size: 1.1rem;
      text-align: center;
      margin: 0.5rem;
    }

  .myFT--array {
    margin: 2rem auto;
  
    .myFT-details {
      display: flex;
      width: auto;
      padding: 2rem;

      .myFT-details--detail {
        width: auto;
        margin: 0.5rem auto;
        .foodtruck-social {
          display: flex;
          flex-direction: row;
          justify-content: center;

          input, .addslot-input {
            width: 15rem;
            height: 1.8rem;
            border-radius: 0 25px 25px 0;
            border: none;
            padding-left: 1rem;
            margin-left: 1rem;
            background-color: vars.$LLight;
            outline-style: none;

            &:focus {
              box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
            }

            &::placeholder {
              font-style: italic;
            }
          }

          .addslot-input:focus {
            box-shadow: inset 0 0 25px rgba(0, 0, 0, .5);
          }
        }         
      }
     
    }
  }

    .account-button {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .button-Link {        

        .button-linkto {
          margin: 1rem vars.$gutter 0.5rem;
          padding: 0.5rem;
          border: #e69512 solid 4px;
          border-radius: 25px;
          background-color: transparent;
          color: vars.$LLight;
          font-size: 1rem;
          width: 20rem;
          box-sizing: border-box;
    
          &:hover {
            background-color: #e69512;
            color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            border: #e69512 4px solid;
          }
        }

        .button-del {
          margin: 1rem vars.$gutter 0.5rem;
          padding: 0.5rem;
          border: #e61212 solid 4px;
          border-radius: 25px;
          background-color: transparent;
          color: vars.$LLight;
          font-size: 1rem;
          width: 20rem;
          box-sizing: border-box;
    
          &:hover {
            background-color: #e61212;
            color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            border: #e61212 4px solid;
          }
        }

        .button-linktosave {
          margin: 1rem vars.$gutter 0.5rem;
          padding: 0.5rem;
          border: #095228 solid 4px;
          border-radius: 25px;
          background-color: transparent;
          color: vars.$LLight;
          font-size: 1rem;
          width: 20rem;
          box-sizing: border-box;
    
          &:hover {
            background-color: #095228;
            color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            border: #095228 4px solid;
          }
        }
      }
    }
  }
}

.addslot-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
  width: 50%;
  height: auto;
  background-color: vars.$DarkOpacity;
  padding: vars.$gutter;
  margin: auto;
  color: vars.$LLight;

  .addslot-title {
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    font-family: vars.$Krub;
    margin: 1rem auto 1rem;
  }

  .addslot-fields--legend {
    font-style: italic;
    color: #e69512;
    font-size: 0.7rem;
  }

  .addslot-form {
    display: flex;
    flex-direction: column;

    .addslot-from--first {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .addslot-label {
        margin: 0.5rem;
        font-style: italic;

        .addslot-input {
          margin: 0.33rem;
          padding: vars.$gutter;
          background-color: rgba(255, 255, 255, 0.8);
          border-radius: 25px;
          border: 4px solid #e69512;

          option {
            padding: 0.5rem;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 25px;
            border: 4px solid #e69512;
          }
        }

        span {
          color: #e69512;
          margin: -0.2rem auto auto 0.4rem;
          font-weight: bold;
          font-size: 1.5rem;
        }
      }

    }

    .addslot-form--footer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 1rem;

      .addslot-button--quit {
        margin: 1rem vars.$gutter 0.5rem;
        padding: 0.5rem;
        border: #e69512 solid 4px;
        border-radius: 25px;
        background-color: transparent;
        color: vars.$LLight;
        font-size: 1rem;
        width: 20rem;
        box-sizing: border-box;
  
        &:hover {
          background-color: #e69512;
          color: rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
          -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
          -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
          border: #e69512 4px solid;
        }
      }

      .addslot-button--submit {
        margin: 1rem vars.$gutter 0.5rem;
        padding: 0.5rem;
        border: #e69512 solid 4px;
        border-radius: 25px;
        background-color: transparent;
        color: vars.$LLight;
        font-size: 1rem;
        width: 20rem;
        box-sizing: border-box;
  
        &:hover {
          background-color: #e69512;
          color: rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
          -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
          -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
          border: #e69512 4px solid;
        }
      }
    }
  }
}
