// Fonts
$Krub: 'Krub', sans-serif;
$Quicksand: 'Quicksand', sans-serif;

// Light Theme
$LLight: #e8e9eb;
$LMidLight: #212d40;
$LMidDark: #190b28;
$LDark: #313638;

// Dark Theme
$DLight:  #e8e9eb;
$DMidLight: #f6d6a3;
$DMidDark: #f6bd60;
$DDark: #313638;
