// Fonts
$Krub: 'Krub', sans-serif;
$Quicksand: 'Quicksand', sans-serif;

// Color 
$LLight: #e8e9eb;
$LMidLight: #212d40;
$LMidDark: #190b28;
$LDark: #313638;
$DMidLight: #f6d6a3;
$DMidDark: #f6bd60;
$DarkOpacity: rgba(0,0,0,0.7);

$Yellow: #e69512;
$Green: #095228;


//Border radius
$BorderRadius: 20px;

// Font-Size
$mainTitle: 4rem;
// Gutter
$gutter: 1rem;
