// Fonts
$Krub: 'Krub', sans-serif;
$Quicksand: 'Quicksand', sans-serif;

// Color 
$LLight: #e8e9eb;
$LDark: #313638;
$DarkOpacity: rgba(0,0,0,0.7);
$Yellow: #e69512;
$Red: #e61212;
$Green: #095228;


//Border radius
$BorderRadius: 20px;
$BorderRadiusButton: 25px;

// Font-Size
$mainTitle: 4rem;
// Gutter
$gutter: 1rem;
