@use 'src/styles/vars';

.map {
  border: 1px dashed rgb(255, 0, 200) ;
  background-color: rgb(255, 0, 200);
  width: 50%;
  height: 30rem;
  margin: 1rem;
  margin-right: -10rem;
  z-index: 1;
  border-radius: 400px 250px 300px 250px;
}
