@use 'src/styles/vars';

.map-main {
  width: 40rem;
  height: 30rem;
    // width: 50%;
    // height: 50vh;
    margin: 1rem;
    margin-right: -10rem;
    z-index: 1;
    border-radius: 400px 250px 300px 250px;
    box-shadow: 40px 38px 50px -20px rgba(0,0,0,0.73);
    -webkit-box-shadow: 40px 38px 50px -20px rgba(0,0,0,0.73);
    -moz-box-shadow: 40px 38px 50px -20px rgba(0,0,0,0.73);
}
