{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('back_office/event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_office_event_index') }}"><i class="fas fa-undo-alt"></i></a>

    {{ include('back_office/event/_delete_form.html.twig') }}
{% endblock %}
