@use 'src/styles/vars';

.section-myFoodTruck {
  margin: 11rem auto auto;
  position: relative;
  max-width: auto;
  min-height: 75vh;
  max-height: 200vh;

  .myFoodTruck-title {
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: -2.5rem auto -1.5rem 30rem;
    position: absolute;
  }

  .myFoodTruck-picture {
    margin-left: 11rem;
    margin-top: -5rem;
    position: absolute;
    max-width: 15rem;
    min-height: 20rem;
    border-radius: 25px;
    background-color: rgba(150, 150, 150, 0.7);
  }

  .myFoodTruck {
    background-color: vars.$DarkOpacity;
    padding: 2rem;
    width: 70vw;
    height: auto;
    margin: -11rem auto auto 20rem;

    #type_food {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .myFoodTruck-buttons {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      margin: 4rem auto 2rem;

      .button-Link {

        .button-linkto {
          margin: 1rem vars.$gutter 0.5rem;
          padding: 0.5rem;
          border: #e69512 solid 4px;
          border-radius: 25px;
          background-color: transparent;
          color: vars.$LLight;
          font-size: 1rem;
          width: 15rem;
          box-sizing: border-box;
    
          &:hover {
            background-color: #e69512;
            color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            border: #e69512 4px solid;
          }
        }

        .button-add {
          margin: 1rem vars.$gutter 0.5rem;
          padding: 0.5rem;
          border: #095228 solid 4px;
          border-radius: 25px;
          background-color: transparent;
          color: vars.$LLight;
          font-size: 1rem;
          width: 15rem;
          box-sizing: border-box;
    
          &:hover {
            background-color: #095228;
            color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
            border: #095228 4px solid;
          }
        }
      }
    }
  }
}

.button-linkto--details {
  width: 7rem;
  border: #e69512 solid 1px;
  border-radius: 25px;
  font-style: italic;
  background-color: transparent;
  color: vars.$LLight;

  &:hover {
    background-color: vars.$Yellow;
    color: vars.$DarkOpacity;
  }
}

.viewslots-section {
  // background-color: vars.$DarkOpacity;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2rem;
  border-radius: 50px;
  width: 80vw;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: vars.$LLight;
  
  .viewslots-title {
    display: inline;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: 4px 4px 3px rgba(150, 150, 150, 0.7);
    margin: 1rem auto 1rem auto;
    font-family: vars.$Krub;
  }

  .myFoodTruck-array {
    border: vars.$Yellow solid 2px;
    border-radius: 25px;
    width: 80%;
    height: auto;
    margin:  0.5rem auto;

    table {
      margin: 1rem auto 1rem;
      padding: 1rem;
      width: 90%;
      height: 10rem;

      thead,
      tbody {
        width: 100%;
        height: 2rem;
        border-bottom: vars.$Yellow solid 1px;


        th {
          text-align: center;
          vertical-align: middle;
          font-weight: bold;
        }

        td {
          text-align: center;
          vertical-align: middle;

        }

        &:last-child {
          border: none;
        }
      }
    }
  }
  
  .buttons {
    display: flex;

    button {
      margin: 1rem vars.$gutter 0.5rem;
      padding: 0.5rem;
      border: #e69512 solid 4px;
      border-radius: 25px;
      background-color: transparent;
      color: vars.$LLight;
      font-size: 1rem;
      width: 20rem;
      box-sizing: border-box;

      &:hover {
        background-color: #e69512;
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
        -webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
        -moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.85) inset;
        border: #e69512 4px solid;
      }
    }
  }
  
}
